<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="bg-blue-500 text-white p-4">
  <h1 class="text-2xl">Ticket Generator</h1>
  <form action="/generate" method="POST">
    <select name="office" class="bg-orange-500 text-white p-2 rounded-md my-4">
      {% for office, code in office_codes.items() %}
      <option value="{{ office }}">{{ office }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="bg-orange-500 text-white p-2 rounded-md">Get Ticket</button>
  </form>
</div>
  </body>